
/* forget-password.css */
.forget-password-content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 60px;
    max-width: 1264px;
    margin: 60px auto;
    padding: 0 88px;
}

.forget-password-content h1 {
    margin-top: 0;
    font-size: 30px;
    line-height: 1.3;
    margin-bottom: 10px;
    padding: 30px 0px;
}

.forget-password-content > p {
    margin: 0 0 28px 0;
    max-height: none;
    font-size: 14px;
    line-height: 1.5;
}

.forgetpassword-form {
    display: flex;
    flex-direction: column;
}

.forgetpassword-form label {
    font-size: 14px;
    font-weight: 600;
    color: var(--text-dark);
    margin-bottom: 6px;
    margin-top: 16px;
}
.forgetpassword-form button {
    margin-top: 24px;
    background: var(--primary-color);
    color: #fff;
    border: none;
    padding: 14px;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    transition: background 0.2s ease;
    font-family: var(--font-main);
    width: 100%;
}

.forgetpassword-form button:hover {
    background: var(--primary-hover);
}
.step-content{
    display: block;
}
.forgetpassword-form p{
    margin: 0 0 20px 0;
}
.step-content p {
font-family: Inter;
font-weight: 400;
font-style: Regular;
font-size: 11px;
line-height: 100%;
letter-spacing: 0%;
color: var(--text-muted);
margin: 5px;
}