:root {

--primary-color: #6B40CC;      
--primary-hover: #534AE0;        
--text-dark:#0E131F;            
--text-muted: #616B80;          
--border-color: #DEE0EB;        
--back-color:#e6e2f5;
--font-main: 'Inter', sans-serif; 

}

* {
box-sizing: border-box;
margin: 0;
padding: 0;
font-family: var(--font-main);
}
a {
    text-decoration: none;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 72px;
    width: 100%;
    max-width: 1264px;
    margin: 18px 88px 0 88px;

}

.logo {
    display: flex;
    align-items: center;
    width:fit-content ;
    height:fit-content ;  
    gap: 10px;  
}

.logo-icon {
    width: 22px;
    height: 22px;
    background:var(--primary-color);
    border-radius: 6px;

}

.logo-text {
    font-size:18px;
    font-weight: 600;
    color: var(--text-dark);
    width:82px;
    font-style: semi-bold;
    line-height:100px;
    font-family: var(--font-main);
}
.nav-links {
    display: flex;
    align-items: center;
    width:fit-content ;
    height:fit-content ;
    gap: 34px;
}
.nav-links a {
    color: var(--text-dark);
    font-size: 14px;
    font-weight: 500;
    font-style: medium;
    font-family: var(--font-main);
}
.nav-links a:hover {
    color: var(--primary-hover);
}
.badge {
    display: block;
    align-items: center;
    width:fit-content;
    max-width:215px;
    height: 27px;
    padding: 7px 11px;
    background: var(--back-color);
    border-radius: 20px;
    color: var(--primary-color);
    font-size: 13px;
    font-weight: 600;
    font-style: semi-bold;
    font-family: var(--font-main);
    line-height: 100%;

}
h1 {
    font-size: 42px;
    font-weight: 700;
    font-style: bold;
    font-family: var(--font-main);
    line-height: 60px;
    color: var(--text-dark);
    margin-top:100px;
}

p {
    font-size: 18px;
    font-weight: 400;
    font-style: regular;
    font-family: var(--font-main);
    line-height: 100%;
    color: var(--text-muted);
    margin: 30px 0 10px 0;
    width: 100%;
    max-width: 520px;
    height: 100%;
    max-height: 60px;
}
.login-link {
    text-align: center;
    margin-top: 20px;
    font-size: 13px;
    color: var(--text-muted);
}

.login-link a {
    color: var(--primary-color);
    font-weight: 600;
}
input,
select {
    width: 100%;
    padding: 12px 14px;
    border: 1px solid var(--border-color);
    border-radius: 10px;
    font-size: 14px;
    color: var(--text-dark);
    outline: none;
    background: #fff;
    font-family: var(--font-main);
}

input:focus,
select:focus {
    border-color: var(--primary-color);
}

input::placeholder {
    color: var(--text-muted);
}
.signup-link{
    text-align: center;
    margin-top: 20px;
    font-size: 13px;
    color: var(--text-muted);  
}
.signup-link a {
    color: var(--primary-color);
    font-weight: 600;
}
.forget-password-link  {
    text-align: center;
    margin-top: 20px;
    font-size: 13px;
    color: var(--primary-color);
    font-weight: 600;
}
.forget-password-link a{
    color: var(--primary-color);
}